@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="imageContainer"></div>

<script>

    let arrayOfCards = @Html.Raw(@Model.boardCreator.getJsonOfCards());

    let output = "";

    for (var i = 0; i < arrayOfCards.length; i++) {
        let elem = document.createElement("img");
        console.log(arrayOfCards[i].ImageUrl);
        elem.src = arrayOfCards[i].ImageUrl;
        document.querySelector(".imageContainer").appendChild(elem);
    }



    

</script>